@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

/******* DEFAULT *******/

body {
	padding-top: 56px;
	font-family: 'Open Sans', sans-serif;
	background-color: #FAFAFA;
	color: #000;
}

.container {
	max-width: 728px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/******* HEADER + STORIES *******/

.header {
	position: fixed;
	top: 0;
	background-color: #ffffff;
	width: 100%;
	padding: 8px;
	border-bottom: 1px solid rgb(216, 215, 215);
}

.header__logo {
	height: 40px;
	display: inline-block;
}

.header__logo img {
	height: 100%;
}

.header_icon_direct {
	align-self: center;
}

.header_icon_direct i {
	color: black;
}

.box__stories {
	width: 100%;
	padding: 20px 15px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.box__stories .user__stories {
	width: 80px;
	height: 80px;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.user__stories {
	display: flex;
	border-radius: 100%;
	overflow: hidden;
}

.user_stories--newStories {
	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

.user_stories--outStories {
	background: rgb(218, 218, 218);
}

.user__stories__personalize--border {
	border: 3px solid white;
	border-radius: 100%;
	overflow: hidden;
	display: inline-block;
}

.box__stories .user__stories__personalize--border {
	height: 74px;
	width: 74px;
}

.user__stories img {
	width: 100%;
}

/******* CARD FEED *******/

.feed {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 15px 0;
}

.card {
	display: flex;
	flex-direction: column;
	background: #fff;
	border: 1px solid rgb(212, 211, 211);
	border-radius: 10px;
	margin-top: 40px;
}

.card__header, .card__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
}

.card__header .user {
	display: flex;
	align-items: center;
}

.user a {
	text-decoration: none;
	color: rgb(41, 40, 40);
}

.user__img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 8px;
}

.user__img img {
	width: 100%;
}

.user__name p {
	font-size: 12px;
	font-weight: 600;
}

.button__options {
	border: none;
	background: none;
	box-shadow: none;
	outline: none;
}

.card__img img {
	width: 100%;
}

.card__socials {
	display: flex;
	justify-content: space-between;
	padding: 8px;
}

.interation, .save {
	display: flex;
	font-size: 26px;
}

.button__like {
	padding-left: 10px;
}

.button__like, .button__comment {
	padding-right: 24px;
}

.button__mark__post {
	padding-right: 10px;
}

.card__description {
	display: flex;
	justify-content: space-between;
	padding: 0 16px 8px;
}

.card__footer {
	background-color: rgba(0, 0, 0, 0.05);
}

.card__footer .user {
	display: flex;
}

.card__footer .user__img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 8px;
}

.card__footer .status__text {
	display: flex;
	align-self: center;
	font-size: 12px;
}

.card__footer .status__text p, .card__description .text p {
	margin: 0;
}

.text {
	display: flex;
	width: 100%
}

.text p {
	font-size: 14px;
}

.text span {
	font-size: 14px;
	/* padding-left: 5px; */
}